*{
    padding: 0; /*define para o navegador, que o espaçamento a ser utilizado na página é igual a zero*/
    margin: 0; /*define o valor 0 como margem para a pagina*/
    box-sizing: border-box; /*o espaçamento d padding conta para dentro da caixa*/
    font-family: 'Times New Roman', Times, serif;/*define o tipo de fonte que será utilizada na página*/
}
header{ /*Configurar cabeçalho da página*/
    background-color: #c74fff;/*Alterar a cor de fundo da área do cabeçalho*/
    color: #000000; /*Alterar cor da fonte*/
    padding: 25px; /*Espaçamento entre o texto e as margens*/
    text-align: center; /*alinha o texto no centro da pagina*/
    border-bottom: #a809f1 3px solid; /*adiciona uma borda inferior com 3 pixels de espessura*/ 
    font-family: 'Times New Roman', Times, serif;
}
header h1 {
    font-size: 48px;
}
/*grid de produtos*/
.container {
background-color: #edc6ff;/*muda a cor de fundo da seção container*/
min-height: 60vh; /*altura minima da seção ser de 60% da tela*/
padding: 50px;/*espaçamento de 50px nas margens*/
}

.product-container {
    max-width: 1800px;/*largura máxima da divisão card*/
    margin: 0 auto; /*margem 0 na altura e centralizar o conteudo na horizontal*/

}
.card {
    width: 31%;/*largura do card em 31% do tamanho definido no product-container*/
    display: inline-block;/*posiciona os em linha*/
    }
    .product-image {
        height: 500px;/*altura da imagem*/
        width: 100%;/*ocupar 100% do espaço disponivel no card*/
        background-position: center;
        background-size: cover;
    }
    #img-1 {
        background-image: url(../imagem/milbeijosdegaroto.jpg);
    }
    #img-2 {
        background-image: url(../imagem/eassimqueacacaba.jpg);
    }
    #img-3 {
        background-image: url(../imagem/milpartesdomeucorscao.jpg);
    }
    #img-4 {
        background-image: url(../imagem/ladofeiodoamor.jpg);
    }
    #img-5 {
        background-image: url(../imagem/confesse.jpg);
    }
    #img-6 {
        background-image: url(../imagem/verity.jpg);
    }

    h3{
        margin-bottom: 10px;
        color: #000000;
        font-size: 24px;
    }
    .card p {
        margin-bottom: 10px;
    }


    .btn {
        display: block;/*exibir o conteudo no formato de um bloco*/
        width: 100%;/*ocupar 100% do espaço disponível no card*/
        text-align: center;/*alinhar o texto no centro do espaço indicado pelo 
        comando width*/
        text-transform: uppercase; /*Exiibe o teto em letra maiúscula*/
        text-decoration: none;/*remove o sublinhado do texto*/
        background-color: #c74fff; /*altera o fundo do display block*/
        color: rgb(0, 0, 0); /*muda a cor da fonte do texto*/
        padding: 15px; /*espaçamento de 15 px ao redor do display block*/
        margin-bottom: 10px;/*adiciona uma margem abaixo do botao de 10px*/
        border-radius: 10px;/*arredonda os cantos*/
    }

    .btn:hover { /*altera o comportamento do botao quando o cursor do mouse estiver sobre ele*/
        background-color: #a809f1; /*altera a cor de fundo do batao*/

    }

    footer {
        background-color: #a809f1;/*altera as configurações do rodapé da págia*/
        text-align: center;/*centraliza o texto do rodapé*/
        padding: 80px; /*adiciona um espaçamento ao redor do rodapé*/
        color: black; /*altera a cor da fonte*/
    }